workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH =~ "main|feat/.*"'

image: golang:1.16

variables:
  # Please edit to your GitLab project
  REPO_NAME: gitlab.com/ayubmalik/dockertestspike

stages:
  - test
  - build
  - deploy

test:
  stage: test
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKERTESTSPIKE_HOST: docker
  script:
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.37.1
    - golangci-lint run --disable-all -E goimports ./...
    - golangci-lint run ./...
    - go test -race ./...

compile:
  stage: build
  script:
    - go build -race -ldflags "-extldflags '-static'" -o $CI_PROJECT_DIR/dockertestspike
  artifacts:
    paths:
      - dockertestspike
