# This file is a template, and might need editing before it works on your project.
image: golang:1.16

variables:
  # Please edit to your GitLab project
  REPO_NAME: gitlab.com/ayubmalik/dockertestspike

stages:
  - test
  - build
  - deploy

lint:
  stage: test
  script:
    - go env | sort
    - go fmt $(go list ./...)
    - go vet $(go list ./...)

test:
  stage: test
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKERTESTSPIKE_HOST: docker
  script:
    - go test -race $(go list ./...)

compile:
  stage: build
  script:
    - go build -race -ldflags "-extldflags '-static'" -o $CI_PROJECT_DIR/dockertestspike
  artifacts:
    paths:
      - dockertestspike
