# This file is a template, and might need editing before it works on your project.
image: golang:1.16

variables:
  # Please edit to your GitLab project
  REPO_NAME: gitlab.com/ayubmalik/dockertestspike

stages:
  - test
  - build
  - deploy

lint:
  stage: test
  script:
    - go fmt $(go list ./...)
    - go vet $(go list ./...)
test:
  stage: test
  script:
    - go test -race $(go list ./...)

compile:
  stage: build
  script:
    - go build -race -ldflags "-extldflags '-static'" -o $CI_PROJECT_DIR/dockertestspike
  artifacts:
    paths:
      - dockertestspike
